@use "sass:list";
@use "sass:math";
@import "scss/Catppuccin";
@import "../colors/colors.scss";

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

$tag-palette: (
  $lavender,
  $flamingo,
  $maroon,
  $yellow,
  $green,
  $teal,
  $blue,
  $sky,
  $rosewater,
);

// colors
$background: $black2;
$foreground: $white;

//$accent: list.nth($tag-palette,math.random(length($tag-palette)));


.debug {
  background-color: $red;
  border: 1px dashed;
}

//Global Styles
.bar {
  color: $foreground;
  padding: 2px 5px;
  font-family:"FuraCode Nerd Font";
  font-size: 16px;
}

.panel {
  margin: 5px;
  background-color: $background;
  border: 2px solid;
  border-radius: 15px;
  padding: 3px 10px;
  border-color: $accent;
  box-shadow: 1px 1px 3px $accent;
}

// TODO: refactor this to use nested classes
.ws-button {
  border-style: solid;
  padding:0px 10px;
  border-radius: 10px;
}


.ws-button-active {
  border-width: 2px;
}

.ws-button-open {
  border-width: 0px 0px 2px;
  border-style: solid;
}

// color each tag bubble from palette
@each $color in $tag-palette {
  .ws-button-#{index($tag-palette,$color)} {
    color:$color;
  }
}

.workspaces {
  padding: 0;
  border-radius: 15px;
  padding: 0 5px;
}

.ws-layout {
  border-radius: 0;
  padding-left: 5px;
  margin-right: 10px;
}
.ws-layout-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.active {
  all: unset;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.box-launcher {
  background-color: $accent;
  color: $background;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 15px;
}

.button-launcher {
  padding-left: 12px;
  padding-right: 12px;
}

.clock {
  margin-left: 10px;
  margin-right: 20px;
}

.sysinfo {
  margin-left: 10px;
  margin-right: 10px;
}

.icon-ws-layout {
  margin-right: 10px;
}

.update {
  margin-right: 10px;
}

.separator {
  margin: 0px 5px;
}
